<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-openvino-ubuntu26" value=".local-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="local-openvino-ubuntu26">
      <package pattern="OpenVINO.runtime.ubuntu.26-x86_64" />
      <package pattern="JYPPX.OpenVINO.GenAI.runtime.ubuntu.26-x86_64" />
      <package pattern="LLamaSharp.Backend.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>