<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-llamasharp-backends" value=".local-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="local-llamasharp-backends">
      <package pattern="LLamaSharp.Backend.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="Microsoft.VisualStudio.JavaScript.Sdk" />
      <package pattern="Microsoft.VisualStudio.Threading.Analyzers" />
      <package pattern="Meziantou.Analyzer" />
      <package pattern="Microsoft.AspNetCore.Components.Web" />
      <package pattern="Microsoft.Extensions.Http" />
      <package pattern="Microsoft.AspNetCore.Components" />
      <package pattern="Microsoft.AspNetCore.Components.Forms" />
      <package pattern="Microsoft.JSInterop" />
      <package pattern="Microsoft.AspNetCore.Authorization" />
      <package pattern="Microsoft.AspNetCore.Components.Analyzers" />
      <package pattern="Microsoft.Extensions.Options" />
      <package pattern="Microsoft.Extensions.Primitives" />
      <package pattern="Microsoft.AspNetCore.Metadata" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>